.carousel-inner{
    display: flex;
    position: relative;
    img{
        height: 600px;
    }
    .carousel-info{
        position: absolute;
        left: 120px;
        top: 140px;
        width: 600px;
        button{
            // background-color: $color-red-2;
            // color: white;
            // border: 2px solid white;
            // padding: 15px;
            @include styleButton($color-red-2,$color-white-0,10px,15px, 15px);
            color: $color-white-0;
        }
    }
}