.partner-list{
    display: flex;
    justify-content: space-between;
    // padding: 20px 80px 10px 80px;
    padding: 0 120px 0 120px;
    height: 100px;
    line-height: 100px;
    background-color: $color-background;
    .trustedBy{
        font-size: 10px;
        color: $color-blue;
        margin: auto 0;
    }
   
    .partner-logo{
        width: 6%;
         }
}